/**
 * Slider
 */

.carousel-inner {

    .item {
        max-height: 680px;
        &:after {
            content: "";
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

}

.carousel-control {
    width: 10%; 
}

.carousel-control .fa {
    position: absolute;
    top: 50% !important;
    z-index: 5 !important;
    display: inline-block;

    &.fa-chevron-right {
        right: 50%;
        margin-right: -10px;
    }

}

@media screen and (min-width: 768px) {
    .carousel-control .fa {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-control .fa-chevron-left {
        margin-left: -15px;
    }

    .btn-large {
        font-size: 14px !important;
    }
}

/**
 * Slider caption
 */

.carousel-caption {
    
    h2 {
        color: #fff;
        font-size: 70px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p {
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 50px !important;
    }
    
    @media screen and (min-width: 768px) {
        right: 20%;
        left: 20%;
        bottom: 20%;
    }

}

/**
 * Button
 */
.btn-transparent {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    &:hover {
        background-color: #fff !important;
        color: #4D0000!important;
    }
 }

.btn-rounded {
    border-radius: 70px;
}

.btn-large {
    padding: 11px 45px;
    font-size: 18px;
    color: #fff;
}
.btn-large:hover{
     background-color: #fff !important;
        color: #4D0000!important;
        text-decoration: none;

}

/**
 * Change animation duration
 */
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}